//// out: ./style.css, compress: true, sourceMap: false, autoprefixer: last 2 versions, groupmedia: true
:root {
	--el-height: 120px;
	--width: 26px;
	--small-width: calc(var(--width) / 3);
	--line-count: 14;
	--line-size: 2px;
	--line-between: calc((var(--el-height) - var(--line-size)*var(--line-count)) / var(--line-count));
	--animation-transition: 0.5s;
	--animation-timing: linear;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
}

$aside-size: 230px;
$color-white: #fff;
$color-black: #000;
$color-pink: #f82864;
$color-orange: #fe4949;
$color-lightblue: #2762c2;
$color-darkblue: #040021;
$gradient-color1: rgba($color-darkblue, 1);
$gradient-color2: rgba($color-darkblue, 0);


a {
	text-decoration: none;
	color: inherit;
}

body {
	color: $color-white;
	font-family: sans-serif;
}

.container {
	width: 100%;
	padding: 0 20px;
	max-width: 1210px;
	margin: 0 auto;
}

section {
	height: 100vh;
	margin-left: $aside-size;
	background: $color-darkblue linear-gradient(to left top, rgba($color-white, .1), rgba($color-white, 0)) no-repeat 50% 50% / 100% 100%;
}

aside {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: $aside-size;
	padding: 50px 30px 50px 60px;
	background: $color-darkblue url('./menu-bg.jpg') no-repeat 0 0 / 100% 100%;
} 

.main-logo {
	display: block;

	width: 180px;
	height: 60px;
	line-height: 60px;
	font-size: 42px;
	font-weight: bold;
	color: $color-white;
	margin: 0 0 50px;
	text-decoration: none;

	

	a {
		display: block;
		color: $color-lightblue;

		&::first-letter {
			color: $color-orange;
		}
	}
}

.menu-wrapper {
	position: relative;
}

.hover-element {
	position: absolute;
	bottom: 100%;
	left: 34px;
	width: var(--width);
	height: var(--el-height);
	transition: transform var(--animation-transition) var(--animation-timing);
	overflow: hidden;

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: var(--small-width);
		height: calc(var(--el-height) * 2);
		background-repeat: no-repeat;
		background-size: 100% calc(var(--el-height) * 2);
		background-position: 0 -var(--line-size);
		background-image: repeating-linear-gradient(to bottom, $color-pink 0, $color-pink var(--line-size), transparent var(--line-size), transparent calc(var(--line-size) + var(--line-between)));
	}

	.line {
		position: absolute;
		z-index: 2;
		left: 0;
		top: calc(var(--el-height) / 2);
		height: var(--line-size);
		margin-top: -var(--line-size);
		width: var(--width);
		background-color: $color-pink; 
		border-radius: 0 2px 2px 0;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: calc(var(--small-width) + 1px);
		height: calc((var(--line-size) + var(--line-between) + 3px) * 7.5);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 1;
	}

	&::before {
		top: -3px;
		background-image: linear-gradient(to bottom, $gradient-color1, $gradient-color2);
	}

	&::after {
		bottom: -3px;
		background-image: linear-gradient(to top, $gradient-color1, $gradient-color2);
	}
}

.main-nav {
	padding-left: 20px;

	li {
		font-size: 16px;
		line-height: 20px;
		padding: 5px 0;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: rgba($color-white, .6);
			transition: color .3s;

			&:hover {
				color: $color-white;;
			}
		}
	}
}
